<% if @documents.empty? %>
  <p class="lead">
    Nichts gefunden.
  </p>
<% else %>
  <div class="list-group">
    <% @documents.each do |document| %>
      <div class="list-group-item">
        <p class="list-group-item-heading">
          <%= link_to document, class: 'btn btn-default pull-right' do %>
            <span class="glyphicon glyphicon glyphicon-info-sign"></span>
            Details
          <% end %>
          <%= link_to document.title, download_document_path(document) %>
          <% if document.delivered? %>
            <span class="label label-success">gesendet</span>
          <% end %>
        </p>
        <p class="list-group-item-text">
          <%= l document.created_at %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
