<h1>Arztbriefe</h1>

<table>
  <thead>
    <tr>
      <td>Erstellt</td>
      <td>Arztbrief</td>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= l(report.created_at, format: :short) %></td>
        <td><%= link_to report.title, report_path(report) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
