<!DOCTYPE html>
<html>
<head>
  <title>Faxomat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Achtung: Wegen Wartungsarbeiten gehen Faxe momentan mit Verzögerung raus! Aber keine Panik: Alles wird gut...
  </div>

<%= yield %>

</body>
</html>
