<!DOCTYPE html>
<html>
<head>
  <title>Faxomat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="alert alert-warning" role="warning">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    Keine Panik: Die Faxe werden wieder verzögerungsfrei gesendet, auch wenn hier noch nix zu sehen ist. Hang on...
  </div>

<%= yield %>

</body>
</html>
